.error-message {
    color: rgb(243, 36, 36);
    font-weight: bold;
    font-style: italic;
}

.title {
    display: flex;
    flex-direction: column;


}
.personal-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 4.5px;
    max-width: 25%;
}

#provinceDropDown {
    border-style: none;
}